<h1 style="text-align:center;">Our First Trip <3 </h1>

<h3 style="text-align:center;"> Below are some possible options collected for our trip in January:</h3>

<br><br>


<div class="container">
  <div class="row">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Entry #</th>
	      <th scope="col">Title</th>
	      <th scope="col">Price</th>
	      <th scope="col">Date</th>
	      <th scope="col">Link</th>
	      <th scope="col">Rating</th>
	      <th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let item of tripData$ | async">
	      <th scope="row">{{item.entryNum}}</th>
	      <td>{{item.Title}}</td>
	      <td>{{item.Price}}</td>
	      <td>{{item.Date}}</td>
	      <td><a href={{item.Link}} target="_blank">{{item.Link}}</a></td>
	      <td>{{item.Rating}}</td>
	      <td><input type="button" attr.onclick="https://trips-fe-a2fkrtihbq-uc.a.run.app/?entryNum={{item.entryNum}}"  value="Delete"></td>
	    </tr>
	  </tbody>
	</table> 

  </div>
</div>

